{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Matthias</title> {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster Two&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
<!--     <link rel="stylesheet" href="{% static '/style.css' %}"> -->
    {% block link %} 
    
    <link rel="stylesheet" href="{% static '/style.css' %}"> 
    {% endblock %}
    <script src="https://kit.fontawesome.com/8d8053aa7b.js" crossorigin="anonymous"></script>
</head>
<body>
    {% block collapse %}
    <nav class="navbar navbar-expand-sm  navbar-dark sticky-top p-3"
    style="background-color: black;width:100%;">
            {% block brand %}
        <a href="#" class="navbar-brand">
            <img src="{% static '/vs.png' %}" alt="logo" class="img">
        </a>
            {% endblock %}
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#c">
            <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="c">
            {% block collapse2 %}
            <ul class="navbar-nav justify-content-end" style="width:100%;">
                {% block navbar %}
                <li class="nav-item">
                    <a href="#" class="nav-link h6">Contact</a>
                </li>
                {% endblock %}
            </ul>
            {% endblock %}
        </div>
    </nav>
    {% endblock %}
    {% block secondnav %} {% endblock %}
    {% block main %}

    {% endblock %}

    {% block footer %}
    <div class="container d-flex justify-content-center mt-4 p-4">
        <p>&copy; Matthias&comma;&nbsp;2023</p>
    </div>
    {% endblock %}


        
    {% block script %}
    <script src="{% static '/jquery-3.7.0.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/general.js' %}"></script>
    {% endblock %}
</body>
</html>
