{% extends './base.html' %}
{% load static %}
{% block link %}
 {{block.super}}
 <link rel="stylesheet" href="{% static '/style.css' %}"> 
 {% endblock %}
{% block title %} <title>{{userprofile.first_name}} {{userprofile.last_name}}</title> {% endblock %}
{% block brand %} <p class="h5 text-white">Chat App</p> {% endblock %}

{% block collapse %}
{{block.super}}
{% endblock %}

{% block collapse2 %}
            <ul class="navbar-nav justify-content-between" style="width:100%;">
                {% block navbar %}
                <li class="nav-item">
                    <form action="{% url 'search' %}" class="form-inline px-3">
                        <input type="text" class="form-control sr" placeholder="Type to search" name="search">
                        <input type="submit" class="btn btn-success  p-2 text-white m-sm-2 sr" value="Search">
                    </form>
                </li>
                <li class="nav-item">
                    <a href="{% url 'buddy' %}" class="nav-link text-white">Messenger </a>
                </li>
                <li class="nav-item dropdown dropleft pr-2 mt-sm-2 d-flex">
                    <!-- <a href="#"  class="btn btn-primary nav-link h6 text-white">Login</a> -->
                    <a href="#" role="button" data-toggle="dropdown">
                        <div class="img-cont">
                            <img src="{{userprofile.profile_img.url}}" alt="hi" id="p"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu mt-3 dp">
                        <li class="dropdown-item">
                            <a href="{% url 'setting' %}" class="text-decoration-none">Account Settings</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'dologout' %}" class="text-decoration-none">Logout</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="/profile/{{user.username}}/" class="text-decoration-none">Profile Page</a>
                        </li>
                    </ul>
                </li>
                {% endblock %}
            </ul>
{% endblock %}

{% block main %}
<div class="container-fluid">
    {% include 'comment.html' %}
    <div class="row">
        <div class="col-sm-7 col-md-5 p-0">
            <div class="container rounded  p-0 m-0">
                {% include 'post_feed.html' %}
                <hr/>
            </div> 
        </div>
        <div class="col-sm-5 col-md-5  p-3">
            <div class="container m-0 mt-4 f p-3 bg-light">
                <p class="h6">Users you can follow</p>
                {% for user_to_follow in users_you_can_follow %}
                <div class="user">
                    <div class="lf">
                        <div class="img-cont">
                            <img src="{{user_to_follow.profile_img.url}}" alt="hi" style="width: 100%; height: 100%; border-radius: 50%;">
                        </div>
                        <div class="some-text">
                            <span>{{user_to_follow.fullname|truncatechars:12}}</span>
                            <span>{{user_to_follow.favorite_quote|truncatechars:12}}</span>
                        </div>
                    </div>
                    <div class="bt-cont">
                        <a href="{% url 'profile' user_to_follow.user.username %}" class="text-white text-decoration-none btn btn-success p-2">View Profile</a>
                    </div>
                </div>
                <hr>
                {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block script %} 
{{block.super}}
<script>

    $(document).ready(
        function(){
            $('.likebutton').click(
                    function(ev)
                        {
                            ev.preventDefault();
                            const n = $(this);
                            console.log(n)
                            const data_id = $(this).attr("id")
                            console.log(data_id)
                            $.ajax(
                        {
                            type: "GET",
                            url: "/likepost/",
                            data: {post: data_id},
                            success: function(data) 
                                {
                                                
                                 const user_in = data.I_liked
                                 const likes = data.count
                                 if (user_in === true && likes > 2) 
                                 {
                                    $(`.like_count${data_id}`).html(`You, and ${likes - 1} others`)
                                    $(`.i-like${data_id}`).css("color", "blue")
                                 }
                                 else if (user_in == false && likes == 1)
                                 {
                                    $(`.like_count${data_id}`).html(`${likes} like`)
                                    $(`.i-like${data_id}`).css("color", "black")
                                }
                                 else if (user_in == false && likes >= 2)
                                 {
                                    $(`.like_count${data_id}`).html(`${likes} likes`)
                                    $(`.i-like${data_id}`).css("color", "black")
                                 }
                                 else if (user_in == false && likes < 1)
                                 {
                                    $(`.like_count${data_id}`).html(``)
                                    $(`.i-like${data_id}`).css("color", "black")
                                }
                                 else if (user_in == true && likes == 1)
                                 {
                                    $(`.like_count${data_id}`).html(`You Liked this`)
                                    $(`.i-like${data_id}`).css("color", "blue")
                                }
                                 else if (user_in == true && likes == 2)
                                 {
                                    $(`.like_count${data_id}`).html(`You, and ${likes - 1} other`)
                                    $(`.i-like${data_id}`).css("color", "blue")
                                    }
                                    console.log(data)
                                },
                            error: function(data) 
                                {
                                 console.log("something went wrong")
                                }
                        
                        }
                                );

                            // $.ajax(
                            //     {
                            //         type: "GET",
                            //         url: "/likepost/",
                            //         data: {post: data_id},
                            //         success: function(data) 
                            //                     {
                            //                         //$('#sc').html(data);
                            //                         const user_in = data.I_liked
                            //                         const likes = data.count
                            //                         if (user_in === true && likes > 2) {
                            //                             // var tgt = $('.like_count').html(`You, and ${likes - 1} others`)
                            //                             n.siblings('.like_count').html(`You, and ${likes - 1} others`)
                            //                             n.removeClass('text-success')
                            //                             n.attr('style', 'color:blue;')

                            //                             //document.getElementById(`{{post.post_id}}`).style.color = "red"
                            //                         }
                            //                         // else if (user_in === true && likes == 1){
                            //                         //     n.siblings('.like_count').html(`You, and 1 other`)
                            //                         //     n.removeClass('text-success')
                            //                         //     n.attr('style', 'color:blue;')
                            //                         // }
                            //                         else if (user_in == false && likes == 1){
                            //                             n.siblings('.like_count').html(`${likes} like`)
                            //                             n.removeClass('text-success')
                            //                             n.attr('style', 'color:black;')
                            //                         }
                            //                         else if (user_in == false && likes >= 2){
                            //                             n.siblings('.like_count').html(`${likes} likes`)
                            //                             n.removeClass('text-success')
                            //                             n.attr('style', 'color:black;')
                            //                         }
                            //                         else if (user_in == false && likes < 1)
                            //                         {
                            //                             n.siblings('.like_count').html(``)
                            //                             n.removeClass('text-success')
                            //                             n.attr('style', 'color:black;')
                            //                         }
                            //                         else if (user_in == true && likes < 1){
                            //                             n.siblings('.like_count').html(`You liked this`)
                            //                             n.removeClass('text-success')
                            //                             n.attr('style', 'color:blue;')
                            //                         }
                            //                         else if (user_in == true && likes == 2){
                            //                             //var tgt = $('.like_count').html(`${likes} likes`)
                            //                             n.siblings('.like_count').html(`You, and ${likes - 1} other`)
                            //                             n.removeClass('text-success')
                            //                             n.attr('style', 'color:blue;')
                            //                         }
                            //                         console.log(data)
                            //                     },
                            //         error: function(data) 
                            //                     {
                            //                        // $('#sc').html("something went wrong!")
                            //                        console.log("something went wrong")
                            //                     }
                        
                            //     }
                            //     );
        }
    )
        }
    )
</script>
{% endblock %}