*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: auto;
}

nav{
    font-size: 12px;
}
nav ul li>a:hover{
    text-decoration: none;
}

.wrapper{
    margin: 0 auto;
    width: 40%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    overflow-y: auto;
}

.wrapper > .comment-post{
    margin: 0 auto;
    width: 40%;
    border: 1px solid black;
    border-radius: 15px;

}
.comment-post form{
    padding: 2px;
}
.comment-post form .in-wrap{
    display: flex;
    align-items: center;
}
.comment-post form .in-wrap>textarea{
    border: none;
    outline: none;
}
.comment-post form .in-wrap button{
    border: none;
}


/* styles for post comments */

.wrapper-cmt{
    position: relative;
    /* border-left: 2px solid rgb(246, 16, 184); */
    margin: 15px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
}
.img-cont{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 0;
}
.img-cont img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.txt-wrap{
    margin-left: 70px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
}
.txt-wrap a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 15px;
}

.txt-wrap a:hover{
    text-decoration: none;
}

/* comment replies styles */
.hdr{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}
.hdr ul{
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.hdr a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.hdr a:hover{
    text-decoration: none;
}

.cmt-cont{
    height: 100vh;
    position: relative;
}

.cmt-cont .comment{
    position: fixed;
    border-top: 1px solid gray;
    bottom: 0;
    width: 40%;

}


/* from  somewhwere */
.wrap{
    position: relative;
    border-left: 2px solid gray;
    /* margin: 15px; */
    margin-left: 30px;
    width: 90%;
    padding-bottom: 40px;
    background-color: aqua;
    bottom: 20px;
}
.wrap .img-cont{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 0;
}
.wrap .img-cont img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.wrap .txt-wrap{
    margin-left: 60px;
    width: 80%;
}
.wrap .name-cont{
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 5px;
}

.some{
    margin-bottom: 10px;
}
.cmt a, .reply-txt a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin-left: 15px;
}

.cmt a, .reply-txt a:hover{
    text-decoration: none;
}

.wrap-reply{
    position: relative;
    border-left: 2px solid gray;
    margin-left: 30px;
    background-color: aquamarin;
}

.img-cont-reply{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 0;

}
.img-cont-reply img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.txt-wrap-reply{
    margin-left: 30px;
    padding: 5px;
    padding-bottom: 15px;
}
.name-cont-reply{
    padding: 10px;
    margin-bottom: 5px;
}
.some-reply{
    margin-bottom: 10px;
    padding: 10px;
}
.some-reply a, .some a{
    color: black;
    margin-left: 15px;
}


.some-reply a:hover,.some a:hover {
    text-decoration: none;
}

.short-wrapper{
    margin-left: 30px;
    background-color: magent;
}
.short{
    display: flex;
    position: relative;

}
.short .img-top{
    background-color: yellow;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: -15px;

}
.line{
    width: 1.5px;
    height: 100%;
    background-color: gray;
    position: absolute;
}

.hor-line{
    width: 20%;
    height: 1.5px;
    background-color: gray
}
.short .reply-txt{
    width: 60%;
    margin-left: 30px;
    position: relative;
    top: -15px;
}
.short > .line:first{
    display: none;
}
.short .img-top img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


@media only  screen and (max-width:500px) {
    .wrapper{
        width: 100%;
    }
    .cmt-cont .comment{
        width: 100%;
    }

    .wrapper > .comment-post{
        width: 100%;
    }
}

@media only  screen and (min-width:501px)  and (max-width:800px) {
    .wrapper{
        width: 60%;
    }
    .cmt-cont .comment{
        width: 60%;
    }

    .wrapper > .comment-post{
        width: 60%;
    }
}
